.header {
    .inner {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        margin: auto;
        max-width: 1200px;
        padding: 8px 32px;

        @media (max-width: 800px) {
            padding: 8px 16px;
        }

        > :first-child {
            display: flex;
            align-items: center;
            justify-content: start;
            flex-grow: 1;
            gap: 16px;
        }

        >:last-child {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 16px;
        }
    }

    .logo {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 8px;
        padding: 0 4px;
        border-radius: 4px;

        font-family: var(--font-display);
        font-size: 32px;
        span {
            transform: skewX(-10deg);
        }

        img {
            width: 44px;
            height: 44px;
        }
    }

    .search {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 2px solid var(--border);
        height: 40px;
        border-radius: 4px;
        transition: 0.2s ease-out;
        max-width: 500px;
        width: 100%;

        &:focus-within {
            background-color: color-mix(in srgb, var(--border) 20%, transparent);
        }

        input {
            flex-grow: 1;
            width: 100%;
            height: 100%;
            padding: 0 16px;
            outline: 0;
        }

        button[type='submit'] {
            display: grid;
            place-items: center;
            width: 60px;
            height: 100%;
            border-left: 2px solid var(--border);
            background-color: color-mix(in srgb, var(--border) 25%, transparent);
        }
    }

    .cart {
        font-size: 24px;
        width: 40px;
        height: 40px;
        display: grid;
        place-items: center;
    }
}
